// コンテンツ
.c-container{
	width: 100vw;
	height: auto;
}

.c-contents{
	position: relative;
	.imgBox{
		&.-sp{
			@include max(768){
				width: 100vw;
				height: 710px;
			}
		}
	}

	&.-imgBg{//背景画像
		.c-contentsBox{//背景要素内 > 設置場所
			position: absolute;
			&.-center{ // 基本
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
			}

			// SP > 下側ボタン
			&.-gaiyouBtn{
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				width: 23%;
				height: 100%;
			}
			&.-seikyuBtn{
				top: 50%;
				left: 23%;
				transform: translateY(-50%);
				width: 22.8%;
				height: 100%;
			}
			&.-yoyakuBtn{
				top: 50%;
				left: 45.8%;
				transform: translateY(-50%);
				width: 22.8%;
				height: 100%;
			}
			&.-telBtn{
				top: 50%;
				left: 68.6%;
				transform: translateY(-50%);
				width: 31.4%;
				height: 100%;
			}
		}
		&.-cover{//特殊
			.-cover-btmImg,
			.-cover-topImg,
			.-top-boxBtn,
			.-cover-boxBtn{transition: all .5s;}
			.-label{
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
			}
			.-top-boxBtn{
				top: 80%;
				left: 50%;
				transform: translateX(-50%);
				width: 40%;
				@include min(768){
					width: 30%;
				}
			}
			.-cover-boxBtn{}
		}
	}
	&.-content01{// 住協のグランシア
		background: #f2f2f2;
		.contentBox{
			width: 85%;
			margin: auto;
			padding: 10% 0;
			@include min(768){
				width: 50%;
				max-width: 650px;
				padding: 5% 0;
			}
		}
	}
	&.-content03{// 住協チャンネル・Instagram
		background: linear-gradient(90deg, rgba(105,78,34,0.4290091036414566) 0%, rgba(159,124,29,0.2805497198879552) 100%);
		.contentBox{
			opacity: 1;
			@include min(768){
			}
		}
	}
	&.-content04{// 理想の物件は
		.c-contentsBox{
			&.-btn{
				position: absolute;
				top: 91%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 62%;
				@include min(768){
					top: 90%;
					width: 22.5%;
				}
			}
		}
	}
	&.-content05{// 住協のグランシア
		.contentBox{
			width: 90%;
			margin: auto;
			padding: 10% 0;
			@include min(768){
				width: 63%;
    			max-width: 1200px;
				padding: 5% 0;
			}
		}
	}
}
.w1100{
	@include min(768){
		width: 80%;
		max-width: 1100px;
		margin: auto;
	}
	@include min(1600){
		width: 60%;
		// width: 57.4%;
	}
}
.w95s{
	@include max(768){
		width: 95%;
		margin: auto;
	}
}
.w90s{
	@include max(768){
		width: 90%;
		margin: auto;
	}
}
.w85s{
	@include max(768){
		width: 85%;
		margin: auto;
	}
}
.w80s{
	@include max(768){
		width: 80%;
		margin: auto;
	}
}
	// ロゴ関係
	.logoArea{
		margin: auto;
		width: 32%;
		@include min(768){
			width: 18%;
		}
		@include min(1600){
			width: 12%;
		}
		&.-c-In{
			width: auto;
			margin-left: 0;
			img{
				width: 7%;
				@include min(768){
					width: 10%;
				}
			}
		}
		&.-mugen{
			@include min(768){
				width: 10%;
			}
			@include min(1600){
				width: 13%;
			}
		}
	}
	// タイトル関係
	.titleArea{
			&.-Concept,
			&.-Planning,
			&.-Location{
				img{
					width: 33%;
					@include min(768){
						width: 33%;
					}
				}
			}
			&.-ForExample{
				img{
					width: 43%;
					@include min(768){
						width: 33%;
					}
				}
			}
			&.-PrivateSkyTerrace{
				img{
					width: 68%;
					@include min(768){
						width: 53%;
					}
				}
			}
			&.-MakefullGallery{
				img{
					width: 55%;
					@include min(768){
						width: 53%;
					}
				}
			}
			&.-LifeInformation{
				img{
					width: 55%;
					@include min(768){
						width: 30%;
					}
				}
			}
		}
	// スペル
	.spell{
		width: 33%;
		@include min(768){
			width: 33%;
		}
	}
	// リサーチページ > 住宅地視察
	// .sec-imgBox{
	// 	position: relative;
	// 	width: 100%;
	// 	height: 100%;
	// 	img{
	// 		position: absolute;
	// 	}
	// }